@import url("https://fonts.googleapis.com/css?family=Oswald:400,500,600,700&display=swap&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=cyrillic");
/* body {
  background: green;
} */

* {
  font-family: Oswald;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}
button {
  cursor: pointer;
}
